<?php include '../templates/hibiscus/common/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" style="padding: 20px 20px 0 20px;">
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">关于我们</li>
            </ul>
            <div class="layui-tab-content" style="padding-top:20px">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <div class="article">
                        <div class="art_header"> <span class="header_box"> <span class="header_txt" style="font-weight: 600;color: #009688;border-left: 4px solid red;padding: 0 6px;"> 服务理念</span> </span>
                        </div>
                        <p style="text-indent:2em;border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px; color: rgb(0, 0, 0); font-family: &quot;Segoe UI Light&quot;, &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            汇智园设计平台创建于2016年，发展至今有着丰富的社区平台运营经验，旨在为设计发布者和设计需求者建立更紧密连接。成立至今，已经成功为多位电子设计作者、上千个同学和专业的嵌入式工程师提供电子设计服务。<br></p>

                        <p style="text-indent:2em;border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px; color: rgb(0, 0, 0); font-family: &quot;Segoe UI Light&quot;, &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            我们平台已经吸纳全国各地专业的设计人员、顶尖的设计开发人员在平台上发布自己的作品，在强有力的市场竞争和需求下，平台以最敏锐的洞察力、最高效的沟通力、最稳健的控制力和最先行的执行力、整合一切可利用资源帮助客户实现需求和目标、与互联网信息化服务全方位接轨。平台以推动中国学生电子设计轻松化为己任，凭借对"专业、创新、诚信、务实、高效"的不断地追求，致力将本汇智园打造为一家高品质服务性平台，力争成为电子设计服务首选。<br></p>
                        <p style="text-indent:2em;border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px; color: rgb(0, 0, 0); font-family: &quot;Segoe UI Light&quot;, &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            设计网已与阿里云、西部数码、百度等大型企业，包括互联网龙头企业建立了紧密长期的战略合作伙伴关系，我们平台已为上千位人员提供了设计服务方案，并得到专业人士的一致好评。<br></p>
                    </div>
                </div>
            </div>

            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">常见问题</li>
            </ul>
            <div class="layui-tab-content" style="padding-top:20px">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <div class="article" style="margin-top: 10px 0;">
                        <div class="art_header" style="margin: 10px 0;"> <span class="header_box"> <span class="header_txt" style="margin:10px 0;font-weight: 600;color: #009688;border-left: 4px solid red;padding: 0 6px;"> 常见问题</span> </span>
                        </div>

                        <div style="border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                <span style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(255, 0, 0);"><strong style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">Q：购买后如何获取资料密钥？</strong></span></p>
                            <div style="text-align: center;"> <img src="./res/images/bz.png" width="100%"> </div>
                            <div style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">
                                <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                    A：密钥提取：<br>
                                    1：购买时所填写的邮箱账户是最终资料秘钥接收的邮箱，购买后自动将秘钥发送到您的邮箱里面。<br>
                                    2：购买时所填写的查询密码，可以通过上面菜单“查询订单”中“联系方式”输入查询密码和邮箱，提取秘钥。<br>
                                    3：如果使用PC端浏览器购买，那么购买后将直接缓存购买信息，可以从“查询订单”中从浏览器缓存中获取。<br>
                                    4：最直接的方式，购买后不要刷新页面，直接从当前页面中提取。<br>
                            </div>
                            <div style="padding: 10px; ">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md6">
                                        <div class="layui-card" style="border: 1px dashed #333;">
                                            <div class="layui-card-header">购买后资料提取方式一：【自动发送】</div>
                                            <div class="layui-card-body">
                                                购买时所填写的邮箱账户将作为资料接收的邮箱，购买后资料和秘钥几分钟内发送到您的邮箱。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md6">
                                        <div class="layui-card" style="border: 1px dashed #333;">
                                            <div class="layui-card-header">购买后资料提取方式二：【手动查询】</div>
                                            <div class="layui-card-body">
                                                可以通过查询密码，在菜单“查询订单”中“联系方式”输入查询密码和邮箱提取资料。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr style="height: 1px; border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top-style: dotted; border-top-color: rgb(153, 153, 153); background-image: none; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px;">
                        <strong style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px; border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">Q</strong><span style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px;">：</span><strong style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px; border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">你们的模板能保证和效果图一样吗？</strong>

                        <div style="border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            <div style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">
                                <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                    A：嗯，是的，电子设计网承诺演示效果图均和网站一模一样，注：由于截图后陈列图片时会将图片调整固定大小，商城中个别设计的截图有宽高比率变形！</p>
                            </div>
                        </div>

                        <hr style="height: 1px; border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top-style: dotted; border-top-color: rgb(153, 153, 153); background-image: none; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px;">
                        <strong style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px; border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">Q</strong><span style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px;">：</span><strong style="color: rgb(255, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px; border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">商家发布作品到平台，平台是怎样收取佣金的？</strong>

                        <div style="border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            <div style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">
                                <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                    A：汇智园平台为了更好的持久性的运营，故对每个商品订单收取15%的佣金（全网最低佣金）！</p>
                            </div>
                        </div>

                        <hr style="height: 1px; border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top-style: dotted; border-top-color: rgb(153, 153, 153); background-image: none; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;; font-size: 14px;">
                        <div style="border: none; font-size: 14px; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(0, 0, 0); font-family: &quot;microsoft yahei&quot;, &quot;微软雅黑软雅黑,Arial,Helvetica,sans-serif&quot;;">
                            <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                <strong style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;"><span style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline; color: rgb(255, 0, 0);">Q：购买设计对软件版本有要求吗？</span></strong></p>
                            <div style="border: none; margin: 0px; outline: 0px; padding: 0px; vertical-align: baseline;">
                                <p style="border: none; margin: 0px; outline: 0px; padding: 8px 0px 0px; vertical-align: baseline; line-height: 30px;">
                                    A：所有软件类资料可适用于Windows平台，软件版本可根据具体版本进行安装软件；<br>
                                    1：比如protues软件可支持7.1-8.7版本区间进行仿真运行。<br>
                                    2：其他软件资料对应开发资料的软件版本进行配置电脑环境。<br>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include '../templates/hibiscus/common/footer.html';?>